<!--Footer Top Widget Area Start-->
<div class="footer-widget-area top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="footer-widget">
                  <h4> Наша підтримка </h4>
                     <ul class = "single-widget-list">
                         <li> <a href="#"> Політика конфіденційності </a> </li>
                         <li> <a href="settings"> Ваш обліковий запис </a> </li>
                         <li> <a href="contact"> Зв'яжіться з нами </a> </li>
                     </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="footer-widget">
                  <h4> Мій акаунт </h4>
                       <ul class = "single-widget-list">
                           <li> <a href="settings"> Мій обліковий запис </a> </li>
                           <li> <a href="orders"> Історія замовлень </a> </li>
                           <li> <a href="#"> Спеціальна </a> </li>
                       </ul>
                </div>
            </div>
            <!--   <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h4>BRANDS ARE FAVORITES</h4>
                    <ul class="single-widget-list favorite">
                        <li><span>Tablets:</span> Apple, Samsung, Sony, Asus, HP, Lenovo, <a href="#" class="more">Read more</a> ...</li>
                        <li><span>Phone:</span> Apple, Samsung, Sony, FPT, Asus, BlackBerry, <a href="#" class="more">More</a> ...</li>
                        <li><span>Apple:</span> iPhone, iPad, <a href="#" class="more">More</a> ...</li>
                        <li><span>Notebook:</span> Apple (Macbook), Acer, Dell, HP, Lenovo,, Sony, <a href="#" class="more">More</a> ...</li>
                        <li><span>Accessories:</span> Headset, leather bags and bumper, <a href="#" class="more">More</a> ...</li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 hidden-sm col-xs-12">
                <div class="footer-widget">
                    <a href="/" class="sub-header"><img src="assets/img/logo/logo.png" width="200" /></a>
                    <br>
                    <p class="information">Адреса:  120 Карла,
                        <br> Запоріжжя ,Україна</p>
                    <p class="information">Емейл: support@admin.com</p>
                    <p class="information">Телефон: <span>(+994)999 999-999</span></p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Footer Top Widget Area-->
<!--Footer Bottom Widget Area Start-->
<div class="footer-widget-area bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 hidden-sm hidden-xs">
                <ul class="social-icons">
                    <li><i class="fa fa-facebook"></i><a href="#">FACEBOOK</a></li>
                    <li><i class="fa fa-instagram"></i><a href="#">instagram</a></li>
                    <li><i class="fa fa-flickr"></i><a href="#">flickr</a></li>
                    <li><i class="fa fa-youtube-play"></i><a href="#">youtube</a></li>
                    <li><i class="fa fa-twitter"></i><a href="#">twitter</a></li>
                    <li><i class="fa fa-google-plus"></i><a href="#">google+</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 hidden-sm hidden-xs">
                <div class="footer-widget-bottom">
                    <h2>Підтримка платежів</h2>
                    <div class="support-payments">
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm">

            </div>
        </div>
    </div>
</div>
