<!--Main Slider Area Start-->
<div class="main-slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm left-sidebar">
                <sidebar-cat></sidebar-cat>
            </div>
            <div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 hidden-sm">
                <div class="slider-area">
                    <div class="preview-2">
                        <div id="nivoslider-four" class="slides" slideit>
                            <img src="assets/img/slider/home-five/slider-10.jpg" alt="" title="#slider-direction-1" />
                            <img src="assets/img/slider/home-five/slider-9.jpg" alt="" title="#slider-direction-2" />
                        </div>
                        <!-- direction 1 -->
                        <div id="slider-direction-1" class="t-cn slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 1 -->

                        </div>
                        <!-- direction 2 -->
                        <div id="slider-direction-2" class="slider-direction">
                            <div class="slider-progress"></div>
                            <!-- layer 6 -->

                            <!-- layer 7 -->

                            <!-- layer 8 -->

                            <!-- layer 9 -->
                          

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs">
                <div class="product-banner-area white-hover">
                   <a href="{{main.sliderAreaBanner.link}}">
                        <img src="{{main.sliderAreaBanner.img}}" alt="">
                        <span style="margin-top:120px;" class="button-s-4">Зробити покупки <i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
